<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MyPage</title>
<link rel="stylesheet" href="../css/header.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
    function confirm() {
        return confirm("정말 탈퇴하시겠습니까?");
    }
</script>
</head>
<body>
<div class="wrapper">
	<th:block layout:fragment="header" th:insert="~{@{/header}}"></th:block>
	<div align="center" style="margin-top: 5px;">
		<a th:href="@{/mypageL}"><input type="button" value="내정보"></a>
		<a th:href="@{/classListP}"><input type="button" value="수강목록"></a>
		<a th:href="@{/wishListP}"><input type="button" value="관심목록"></a>
		<a th:href="@{/writeListP}"><input type="button" value="내가쓴글"></a>
		<a sec:authorize="hasRole('ROLE_BUSINESS')" th:href="@{/myClassP}">
		<input type="button" value="강의목록"></a>
	</div>
	<hr>
	<div align="center">
	<form method='post' action="/deleteMember.do">
		<input type="hidden" name="_csrf" th:value="${_csrf?.token}">
		<h3>탈퇴 진행 절차</h3>
		<table>
			<tr>
				<td colspan='2'>탈퇴하시겠습니까?</td>
			</tr>
			<tr>
				<td>비밀번호</td>
				<td><input type="password" name="memPw" required="required" style="width: 400px; height: 25px;"></td>
			</tr>
			<tr>
				<td colspan='2' style="text-align: center;"><input type="submit" value="탈퇴"></td>
			</tr>
		</table>
	</form>
	</div>
</div>
<th:block layout:fragment="footer" th:insert="~{@{/footer}}"></th:block>
</body>
</html>