@charset "UTF-8";
.a{
	color: inherit;
	text-decoration-line: none;
}
.title-row {
	padding: .5rem .75rem;
    font-size: 1.1rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--color-bd-outer);
    background-color: var(--color-bg-focus);
    border-color: #bbb;
    background-color: #eee;
}
.title-row .title{
    display: inline-block;
}
.date {
	border-bottom: 1px solid;
    text-align: right;
}
.noticelist{
	margin-top: 10px;
	text-align: right;
}
.content {
	border-bottom: 1px solid;
    border-color: var(--color-bd-outer);
    padding: .8rem;
    min-height: 400px;
}
.contaner{
	margin-left: 10%;
    margin-right: 10%;
}
.wrapper{
	height:auto;
	min-height: 100%;
	padding-bottom: 150px;
}