<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>IDFind</title>
<link rel="stylesheet" href="../css/header.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
<div class="wrapper">
	<th:block layout:fragment="header" th:insert="~{@{/header}}"></th:block>
	<script>
		alert("당신의 이메일로 임시 비밀번호를 전송했습니다.");
		location.href = "/member/loginForm";
	</script>
<th:block layout:fragment="footer" th:insert="~{@{/footer}}"></th:block>
</body>
</html>