<html xmlns:th="http://www.thymeleaf.org" lang="ko"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="header" th:fragment="header">
	<div class="logonlogin">
		<div> 
			<h1><a href='/main'><img src="/image/logo.png" alt="로고" style="weight: 120px; height:120px;"></a></h1>
		</div>
		<div>
			<input type="button" onclick = "location.href = '/loginForm'" value="로그인" sec:authorize="isAnonymous()" />
			<input type="button" onclick = "location.href = '/joinForm'" value="회원가입" sec:authorize="isAnonymous()" />
			<input type="button" onclick = "location.href = '/logout'" value="로그아웃" sec:authorize="isAuthenticated()" />
			<a th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
			<input type="button" onclick = "location.href = '/mypageL'" value="마이페이지" sec:authorize="isAuthenticated()" />
			</a>
		</div>
	</div>
	<div class="topMenu" >
		<ul class="menu">
			<li class="li"><a class="menuLink" href="/noticelist">공지사항</a></li>
			<li class="li"><a class="menuLink" href="/healthclass">강의리스트</a></li>
			<li class="li"><a class="menuLink" href="/qnaboard">Q&A게시판</a></li>
		</ul>
	</div>
</header>
</html>